DATABASE_URL=postgresql://postgres.[project-ref]:[YOUR-PASSWORD]@aws-0-[region].pooler.supabase.com:6543/postgres
PUBLIC_ASSET_BASE_URL=https://gbbinfo-assets.pages.dev
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
DEPLOY_ENV=dev
TAVILY_API_KEY=
DEEPL_API_KEY=
R2_SECRET_ACCESS_KEY=
R2_ACCESS_KEY_ID=
AVATAR_UPLOAD_SECRET=
