@import "tailwindcss";

@font-face {
  font-family: "Averta ExtraBold";
  src: url("/fonts/Averta-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Averta ExtraBold', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* TODO: 色を追加したら、tailwind.config.js にも追加する */
:root {
  --background-color: rgb(5, 5, 5);
  --section-color: rgba(255,255,255,0.03);
  --button-background-color: rgba(255,255,255,0.08);
  --gbb-color: rgb(255, 100, 20);
}
