---
import { GbbCountdown } from "./GbbCountdown";
import { staticAssetUrl } from "~/util/staticAsset";
import type { YearWithCountry } from "~/db/year";

interface Props {
  latestYearWithCountry: YearWithCountry;
}

const { latestYearWithCountry } = Astro.props;
---

<div class="bg-(--background-color) h-100"></div>

<div class="flex justify-center bg-(--background-color) pb-36">
  <GbbCountdown client:idle latestYearWithCountry={latestYearWithCountry} />
</div>

<footer class="bg-black text-center pt-16">
  <p class="text-white">
    GBBinfo<br />
    Unofficial website developed by <a
      href="https://twitter.com/tari_3210_"
      target="_blank"
      rel="noopener noreferrer"
      style={{ color: "var(--gbb-color)", textDecoration: "underline" }}
      >tari3210</a
    ><br />
    NOT affiliated with swissbeatbox
  </p>

  <div class="h-100"></div>

  <div class="flex flex-col items-center justify-center">
    <a href="#" class="flex flex-col items-center pb-36">
      <img
        src={staticAssetUrl("/images/background.webp")}
        alt=""
        width={1280}
        height={720}
        loading="lazy"
        decoding="async"
        class="w-[90%] max-w-5xl mx-auto pb-16"
      />
      <p class="text-center text-(--gbb-color) font-bold">いい景色だろ？</p>
    </a>
  </div>
</footer>
